@font-face {
  font-family: 'URW DIN',
  "helvetica"
  "arial"
  "sans-serif";
  src: url('../font/URWDIN-Light.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #121212;
  font-family: 'URW DIN';
}
.parentElement  {
/* background-color: rebeccapurple; */
}
/* .parentElement :not(:last-child) {
  border-bottom: 1px solid silver;
  border-bottom: 1px solid red;
} */

/* background-color: white;
color: black; */
/* .menu:hover .dropdown-menu{
  display: block;
} */

/* .menu:hover .active-dropdown{
display: block;
} */

.dropdown-menu.active{
opacity: 1;
visibility: visible;
transform: translateY(0);
}

.dropdown-menu.inactive{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  
}