
@font-face {
  font-family: "URW DIN";
   src: url('../font/URWDIN-Medium.woff');
 }
 
 

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #121212;
  font-family: "URW DIN";
}


/* .dropdown-menu{
  z-index: 1;
  transform: translateY(-10px);
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}
.menu:hover .dropdown-menu{
  z-index: -2;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; 
} */
